In [125]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [126]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [127]:
df.shape

(244, 7)

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [129]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [130]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [131]:
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [132]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [133]:
df.time

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [134]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le

LabelEncoder()

In [135]:
df['time']=le.fit_transform(df['time'])
df['time']

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Name: time, Length: 244, dtype: int32

In [136]:
df['time'].unique()

array([0, 1])

In [137]:
 #independent and dependent feature
X=df.drop(labels=['time'],axis=1)
y=df.time

In [138]:
X.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [139]:
from sklearn.model_selection import train_test_split

In [140]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [141]:
X_train.shape,X_test.shape

((195, 6), (49, 6))

In [142]:
y_train.shape,y_test.shape

((195,), (49,))

In [143]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer  #Handle missing values
from sklearn.preprocessing import StandardScaler #Feature scaling
from sklearn.preprocessing import OneHotEncoder #Categorical to numerical
from sklearn.compose import ColumnTransformer

In [144]:
categorical_cols=['sex','smoker','day']
numerical_cols=['total_bill','tip','size']

In [145]:
#Automating feature engineering

#Numerical Pipeline
num_pipeline= Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')), #Missing values
        ('scaler',StandardScaler())                   #feature scaling
    ]
)

#Categorical pipeline
cat_pipeline= Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('onehotencoder',OneHotEncoder())
    ]
)

In [146]:
preprocessor= ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorical_cols)
    
])

In [147]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [148]:
from sklearn.ensemble import RandomForestClassifier

In [149]:
##Model Training Automation

models= {
    'Random forest':RandomForestClassifier()
}

In [150]:
from sklearn.metrics import accuracy_score